{% extends "base.html" %}

{% block content %}
    <h1>Список статей</h1>
    {% for article in articles %}
    <table>
        <td>
            <tr>
                <a href="{% url 'article_detail' article.id %}">{{ article.name }}</a>
            </tr>
            <tr>
                <div>{{ article.body|slice:":200" }}</div>
            </tr>
            <tr>
                <a href="{% url 'articles_update' article.id %}">Редактировать статью {{article.name|slice:":10"}}</a>
            </tr>
            <tr>
                <form action="{% url 'articles_delete' article.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Удалить">
                </form>
            </tr>
        </td>
    </table>
    {% endfor %}
{% endblock %}